---

gxy_io_rewrites:
  # Galaxy ancillary services and projects
  - src: /toolshed
    dest: https://toolshed.g2.bx.psu.edu/

  # Conferences and meetings
  - src: /bcc
    dest: https://live.remo.co/e/bcc-2020
  - src: /cofest
    dest: https://docs.google.com/spreadsheets/d/1n3OiQhqPEr2Xpnx-d7do0eVKreFCYfKo5vlz1_7wpSM/edit?usp=sharing
  - src: /gccfeedback
    dest: https://docs.google.com/forms/d/e/1FAIpQLSfioAsc4xfCy2tsrerDstGDXEuVSFnbmBTT8TOC0Ax280ajqw/viewform
  - src: /eebg24
    dest: https://hackmd.io/@nekrut/Sym3WBgwA
  - src: /eebg25
    dest: https://hackmd.io/@nekrut/rkRDTxNrle
  - src: /br24
    dest: https://hackmd.io/@nekrut/B1xxYVLz1e
  - src: /udd24
    dest: https://hackmd.io/@nekrut/Sk8k6CHQ1e
  - src: /ucc24
    dest: https://hackmd.io/@nekrut/ByJD0AHXke
  - src: /gbcc25
    dest: https://gbcc2025.bioconductor.org/
  - src: /gbcc25-intro
    dest: https://docs.google.com/presentation/d/12gZypuJMeDMVnKQetCczpcLSYjkQ9cG3D8M0r3Zvjk0/edit?usp=sharing
  - src: /gbcc25-iwc
    dest: https://docs.google.com/presentation/d/1I8sfriLhLA2u9cVg1rP7pFgjXF2rOqK2iM9uclDBSdc/edit?usp=sharing
  - src: /jobim2025
    dest: https://docs.google.com/presentation/d/1BtDPoJ5XtC1wGre2973oDlhcXDqmxL_XojW4qwWKFnY/edit?usp=sharing
    # International society for primatology
  - src: /ips25
    dest: https://docs.google.com/presentation/d/17Us-WNuEjtXz-Mi8TqdEBKwEy1FXT_X6-R3TSE68hSk/edit?usp=sharing
  - src: /jki-2025
    dest: https://docs.google.com/presentation/d/1gEEsNWAhKqZXrvUDN63Gj9WWlwnjJ0AQkZvyIZFdOsM
  - src: /cordi-2025
    dest: https://docs.google.com/presentation/d/1jrUaEW44bUgMjLlA94KvMmrnwiJholoGEuUtBy3IpXk
  - src: /pag-2026
    dest: https://nekrut.github.io/infographics/pag33/
  - src: /pag-2026-slides
    dest: https://docs.google.com/presentation/d/12KxLaWhwcyU7DYa-jdoNtAkE_WQevDFNTABemISnsNA/edit?usp=sharing

  # Promo sites
  - src: /what-is-galaxy
    dest: https://nekrut.github.io/infographics/what_is_galaxy/
  - src: /what-is-brc
    dest: https://nekrut.github.io/infographics/what_is_brc
  - src: /what-is-vgp
    dest: https://nekrut.github.io/infographics/vgp

  # Code of Conduct
  - src: /coc
    dest: https://galaxyproject.org/community/coc/

  # Galaxy Admin Training
  - src: /gat
    dest: https://github.com/galaxyproject/admin-training/
  - src: /gat-?machines
    dest: https://docs.google.com/spreadsheets/d/11nQKJmHHf7GWR_C36rdu2dVOHZZ0cXpv09b84txm_3A/
    tests:
      - /gatmachines
      - /gat-machines
  - src: /gat-?chat
    dest: https://gitter.im/galaxyproject/admin-training
    tests:
      - /gatchat
      - /gat-chat
  - src: /gat-?(qa|qanda|discussion|questions)
    dest: https://docs.google.com/document/d/1mmhZRpV4XQnMB5UoPGDw0qT8I3oF2DIEYPxvPH4tDz0/edit
    tests:
      - /gatqa
      - /gat-qanda
      - /gatdiscussion/
      - /gat-questions
      - /gatQandA
  - src: /k8s/deploy
    dest: https://training.galaxyproject.org/training-material/topics/admin/tutorials/k8s-deploying-galaxy/tutorial.html
  - src: /k8s/manage
    dest: https://training.galaxyproject.org/training-material/topics/admin/tutorials/k8s-managing-galaxy/tutorial.html

  # Matrix/Gitter channels
  - src: /admin-?chat
    dest: https://gitter.im/galaxyproject/admins
    tests:
      - /adminchat/
      - /admin-chat
  - src: /dev-?chat
    dest: https://matrix.to/#/#galaxyproject_dev:gitter.im
    tests:
      - /devchat/
      - /dev-chat
  - src: /chat
    dest: https://matrix.to/#/#galaxyproject_Lobby:gitter.im
  - src: /fediwall
    dest: https://fediwall.social/?load=https://raw.githubusercontent.com/bgruening/fediwall-config/refs/heads/main/fediwall-config.json

  # Project member personal redirects
  - src: /nate/ccbb2018
    dest: https://docs.google.com/presentation/d/18VO-J2Ie-wNSApBN_4JlOaCilWQP6qNOtni9NLENZOE/
  - src: /nate/sgci2020
    dest: https://docs.google.com/presentation/d/1hDcGBXiaQ7-hWk9hNHVfpGFl14RKrTAVwwt7K68yPrU/
  - src: /nate/gccbosc2018infra
    dest: https://docs.google.com/presentation/d/1_y3m4p_KwoG3gRIV--buQ_xXw0ZlyKtKVFfxMpkIjBU/
  - src: /nate/gcc2022gravity
    dest: https://docs.google.com/presentation/d/1vDNKL4I2OoQDg6gJg2hx2Do2L94tdcIrcuJAMOM2zMc/
  - src: /nate/egd2022gravity
    dest: https://docs.google.com/presentation/d/1_GPs99bPgS9mm-Le4JYD1FqHpUzvozb2L2ipqkRJmu8/
  - src: /nate/gi2023
    dest: https://docs.google.com/presentation/d/1RYnTQjtQ_iOKs6UPDZbfS9cUgxjItYLUe5rIfQ0y5Do/
  - src: /gcc19k8s
    dest: https://gist.github.com/natefoo/16a68683b45a7bc4f0020cbf5240f5dc
  - src: /gcc19arch
    dest: https://docs.google.com/document/d/1u-HKEN_yoODEEGBeVBuxEvIxcrJGhtS98TQzhx84bHw/edit
  - src: /internat25
    dest: https://docs.google.com/document/d/1WY41S87MTJi9hngnt8cxLlVth9fPIkzjksAEhpUICx4/edit?usp=sharing
  
  # PAG-related talks
  # PAG 2024
  - src: /pag24-workshop
    dest: https://docs.google.com/presentation/d/13Cru2cB4ujJx0zhmw3Q-AybNDhK6wRDCjIIFgDfmbxY/edit?usp=sharing
  - src: /pag24-asmt
    dest: https://docs.google.com/presentation/d/1uUzxQRhfC2Z4LcbQ9FrrLOKB4hfDwvOx15DGxbmBghM/edit?usp=sharing

  #PAG 2025
  - src: /pag25-webpage
    dest: https://plan.core-apps.com/pag32/event/ccb7e3a674d26e5273e1670285bf9f7f
  - src: /vgp-dockstore
    dest: https://dockstore.org/organizations/iwc/collections/vgp   

  #VGP-realted things
  - src: /phase1-data
    dest: https://docs.google.com/presentation/d/1tZmgUFDOhFhePVD7Y35mguiUyQSWyKfg_OZrNFrlJQI/edit?usp=sharing
  - src: /phase1-data-access
    dest: https://github.com/VGP/vgp-phase1/tree/main/data/jetstream2

  #GCC shorteners
  - src: /GBCC-abstracts
    dest: https://gbcc2025.bioconductor.org/abstracts/submission_guidelines/
  - src: /GCC2026
    dest: https://galaxyproject.org/events/gcc2026/

  #JXTX shortener
  - src: /jxtxbog25
    dest: https://jxtxfoundation.org/news/2025-2-4-bg/
  - src: /jxtxlogo
    dest: https://docs.google.com/presentation/d/1nYeOTDErh5cZAg9JlPs6RTy94sZEilDoMntOt_GifL0/edit?usp=sharing
  - src: /jxtxbog26
    dest: https://jxtxfoundation.org/news/2025-12-15-bg/

  # Papers
  - src: /scholar
    dest: https://scholar.google.com/citations?hl=en&user=3tSiRGoAAAAJ
  - src: /p/tiaas
    dest: https://doi.org/10.1093/gigascience/giad048
  - src: /p/gtn
    dest: https://doi.org/10.1371/journal.pcbi.1010752
  - src: /p/2024-nar
    dest: https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkae410/7676834
  - src: /p/latest-nar
    dest: https://doi.org/10.1093/nar/gkae410

  # Miscellaneous
  - src: /test
    dest: http://example.com
  - src: /kui
    dest: https://lookerstudio.google.com/u/0/reporting/8cfee054-2ddd-4711-af5a-a7a8d62076bb/page/nrqdD
  - src: /cloud-costs
    dest: https://lookerstudio.google.com/reporting/39b92046-409d-40b4-9463-ca50d5b2c1a1
  - src: /sustainability
    dest: https://doi.org/10.5281/zenodo.16030329
  - src: /eosc25
    dest: https://www.youtube.com/watch?v=2w8okrORVtM
    #dest: https://usegalaxy.eu/static/share/eosc/eosc_symposium_2025.mp4
  - src: /plume2bloom
    dest: https://www.youtube.com/watch?v=jPh1L9N_wKA
    #dest: https://usegalaxy.eu/static/share/eosc/hunga_tonga.mp4
  - src: /eosc-node-poland-demo.mp4
    dest: https://data.eosc.pl/api/v3/onezone/shares/data/00000000007EC1E1736861726547756964236439643032363330323632373564613833386663666232343433653864643335636862373862233938653462646664623331363533396334346534636637613034633034346162636832353663236438343133343435613534666239666562356436636537623837623234373531636831316130/content
  - src: /eosc-node-poland-demo
    dest: https://www.youtube.com/watch?v=826burTjOEU
  - src: /berd-eosc25
    dest: https://www.youtube.com/watch?v=dPWYo0n4TXg
    #dest: https://usegalaxy.eu/static/share/eosc/berd_eosc25.webm
  - src: /stats-eu-elixir
    dest: https://stats.galaxyproject.eu/d/xxeOsZiVz/elixir

  # Community section, e.g. for NAR forms
  - src: /c/nar-author-2026
    dest: https://docs.google.com/forms/d/e/1FAIpQLScXF7mCnHk1VifeMNeLVh0v-CL_4L0wC-lGuZOOkIQv7uzKcw/viewform?usp=preview

  # Train the Trainer discussions
  - src: /ttt
    dest: https://docs.google.com/document/d/1E9VcFNh3nWeQq142szEy-NRHkqYIxFQglqbTaqiAXqQ/edit

  # Releases
  - src: /r/v24.1
    dest: https://docs.galaxyproject.org/en/master/releases/24.1_announce_user.html
  - src: /r/v25.0
    dest: https://docs.galaxyproject.org/en/master/releases/25.0_announce_user.html
  - src: /r/v25.1
    dest: https://docs.galaxyproject.org/en/master/releases/25.1_announce_user.html

  # some things that should fail the "lint" tests
  #- src: ^/fail1
  #  dest: https://example.com/fail1
  #- src: fail2
  #  dest: https://example.com/fail2
  #- src: /fail3
  #  dest: gopher://example.com/fail3

  # Galaxy Smörgåsbord
  - src: /smorgasbord3
    dest: https://gallantries.github.io/video-library/events/smorgasbord3/
  - src: /smorgasbord3-register
    dest: https://forms.gle/opEM4kituMf7fXBm8

  # Galaxy Training Academy
  - src: /GTA1-trainer
    dest: https://galaxyproject.org/news/2024-05-29-galaxy-training-academy-call-contribution/
  - src: /GTA1
    dest: https://training.galaxyproject.org/training-material/events/galaxy-academy-2024.html
  - src: /GTA2025-trainer
    dest: https://forms.gle/V9QqSDNg2UmQaDHy8
  - src: /GTA2025
    dest: https://training.galaxyproject.org/training-material/events/2025-05-12-galaxy-academy-2025.html
  - src: /GTA-giessen
    dest: https://training.galaxyproject.org/training-material/news/2025/04/27/gta-giessen-localhub.html
  - src: /GTA2026
    dest: https://training.galaxyproject.org/training-material/news/2025/11/13/gta-date-2026.html
  - src: /GTA2026-trainer
    dest: https://forms.gle/qiVj4KDxFbK49odp9

  # Community paages
  - src: /c/ssa
    dest: https://galaxyproject.org/community/sig/small-scale-admins/
  - src: /c/gga
    dest: https://galaxyproject.org/community/sig/genome-annotation/
  - src: /c/spoc
    dest: https://galaxyproject.org/community/sig/singlecell/
  - src: /relicense
    dest: https://github.com/galaxyproject/galaxy/pull/16970#issuecomment-1791598501

  # GTN Slack Space
  - src: /(gtn|smorg|smorgasbord)-?slack
    dest: https://join.slack.com/t/gtnsmrgsbord/shared_invite/zt-32v6bk5jk-l~t6acwPfjshjeSQGdKrfw
    tests:
      - /gtnslack
      - /gtn-slack
      - /smorgslack
      - /smorg-slack
      - /smorgasbordslack
      - /smorgasbord-slack

  # Galaxy Training Network homepage for flyers
  - src: /GTN
    dest: https://training.galaxyproject.org


  # GTN Short URLs
  - src: "/GTN:(.*)"
    dest: "https://training.galaxyproject.org/training-material/short/\\1"
    tests:
      - src: /GTN:T00001
        dest: https://training.galaxyproject.org/training-material/short/T00001
      - src: /GTN:ansible-galaxy
        dest: https://training.galaxyproject.org/training-material/short/ansible-galaxy

  # TPV shared database
  - src: /tpv/db.yml
    dest: https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/9ec8ff26012db320bbaeac9b678499000d2af421/tools.yml

  - src: /tpv/db-v1.yml
    dest: https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/9ec8ff26012db320bbaeac9b678499000d2af421/tools.yml

  - src: /tpv/db-v2.yml
    dest: https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/main/tools.yml

  - src: /tpv/db-latest.yml
    dest: https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/main/tools.yml

  # UseGalaxy.org colabfold request form
  - src: /colabfold
    dest: https://forms.gle/CNxB645USKC4gT9k6

  # WBF slides
  - src: /wbf-24
    dest: https://docs.google.com/presentation/d/1fPAlA2rzafG97lZhsAueDGYoepV7wUHnyf6JIHP8d24/edit?usp=sharing

  # UseGalaxy.org subdomain welcome
  - src: /usegalaxy-org-welcome-singlecell
    dest: https://labs.usegalaxy.org.au/?content_root=https://github.com/galaxyproject/galaxy_codex/blob/main/communities/spoc/lab/usegalaxy.org.yml
  - src: /usegalaxy-org-welcome-microbiology
    dest: https://labs.usegalaxy.org.au/?content_root=https://github.com/galaxyproject/galaxy_codex/blob/main/communities/microgalaxy/lab/usegalaxy.eu.yml
  - src: /usegalaxy-org-welcome-biodiversity-genomics
    dest: https://labs.usegalaxy.org.au/?content_root=https://github.com/galaxyproject/galaxy_codex/blob/main/communities/biodiversity/lab/usegalaxy.org.yml
  - src: /usegalaxy-org-welcome-imaging
    dest: https://labs.usegalaxy.org.au/?content_root=https://github.com/galaxyproject/galaxy_codex/blob/main/communities/imaging/lab/usegalaxy.org.yml

  # Kubernetes related links.  Also see /k8s/deploy and /k8s/manage in the admin tutorials above.
  - src: /k8s/charts
    dest: https://raw.githubusercontent.com/CloudVE/helm-charts/master/

  # ASM-related talks
  # ASM-NGS 2024 slides
  - src: /asm-ngs-24
    dest: https://docs.google.com/presentation/d/1e9P9y8X9ve-oI3Sg7I1qaulG8REaEFp7krC5W9D1T0g/edit?usp=sharing
  - src: /ncat-25
    dest: https://docs.google.com/presentation/d/1tUw-yuLTBVezHl-E081m2qOOf8zKEQ0WMLRDYHaYOEY/edit?usp=sharing

  # GTN - Tutorial for Ludwig - MNIST
  - src: /ludwig[-_]mnist[-_]tutorial
    dest: https://training.galaxyproject.org/training-material/topics/statistics/tutorials/galaxy-ludwig/tutorial.html
    tests:
      - /ludwig-mnist-tutorial
      - /ludwig_mnist_tutorial

  # Galaxy Team Meeting Materials
  - src: /gtm25spring-agenda
    dest: https://docs.google.com/document/d/1QF67M4mJ3hD5qQiei4wAdVfUUDtHaz2XdC2pvEJHCoI/edit?usp=sharing
  - src: /gtm25spring-slides
    dest: https://docs.google.com/presentation/d/1wXwiI8aS3v2aETo3K-A4pOG3u6AXcrqZXkuaq41o4XI/edit?usp=sharing

  #####################################
  # Publications with links to Galaxy
  #####################################

  #
  # Title: In vivo detection of DNA secondary structures using Permanganate/S1 Footprinting with Direct Adapter Ligation and Sequencing (PDAL-Seq)
  # BioRxiv: https://www.biorxiv.org/content/10.1101/2023.11.28.569002v1
  # Prefix: pdal-seq
  #
  - src: /pdal-seq-data
    dest: https://usegalaxy.org/u/kaivan/h/pdal-seq-data
  - src: /pdal-seq-pipeline
    dest: https://usegalaxy.org/u/kaivan/h/pdal-seq-collection-1
  - src: /pdal-seq-histogram
    dest: https://usegalaxy.org/u/kaivan/h/pdal-seq-histogram
  - src: /pdal-seq-non-b
    dest: https://usegalaxy.org/u/kaivan/h/pdal-seq-non-b-dna-annotations


  ###################################
  # Zoom link shorters
  ###################################
  - src: /zoom-brc-24-10-30
    dest: https://psu.zoom.us/j/99331380856?pwd=ktUUark52KveSfI824OPn5Rglfb3Wi.1


  #####################################
  # Referrer Partners
  #####################################

  # General link
  - src: /referrer-partner
    dest: http://www.galaxyproject.org?utm_source=goats

  # BRC-Analytics related
  - src: /brc-webinar-reg
    dest: https://forms.office.com/Pages/ResponsePage.aspx?id=8WfZJNg-SES6plYOxXKss8gM98-9jH9MgRdwq7CpaB5URVVKRFpaV0tCOUQxSFRQUzlGVEhFVjJHUi4u
  - src: /brc-whitepaper-videos
    dest: https://www.youtube.com/playlist?list=PLNFLKDpdM3B-YdpZjoCxtFNUztnmkMu9l
  - src: /brc-measles-wp
    dest: https://brc-analytics.org/learn/featured-analyses/evolutionary-dynamics-of-coding-overlaps-in-measles
  - src: /brc-webinar
    dest: https://galaxyproject.org/events/2025-12-12-brc-analytics-webinar/
