import re

DEFAULT_LOCATION = "https://galaxyproject.org/"
LOCATION_MAP = {
{% for item in gxy_io_rewrites %}
    r"{{ item.src.rstrip('/') }}/?$": r"{{ item.dest }}",
{% endfor %}
}


def lambda_handler(event, context):
    try:
        uri = event["Records"][0]["cf"]["request"]["uri"]
    except KeyError:
        uri = None

    location = None

    if uri is not None:
        for src, dest in LOCATION_MAP.items():
            m = re.match(src, uri, flags=re.IGNORECASE)
            if m:
                location = dest
                if len(m.groups()):
                    location = re.sub(src, dest, uri)
                break

    if location is None:
        location = DEFAULT_LOCATION

    response = {
        "status": "302",
        "statusDescription": "Found",
        "headers": {
            "location": [{
                "key": "Location",
                "value": location,
            }]
        }
    }

    return response
