name: Check
on: [pull_request]
permissions:
  issues: write
jobs:

  check:
    name: Check rewrite function
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Run check
        run: ansible-playbook -i hosts check.yaml

      - name: Run tapview
        if: success() || failure()
        run: cat test-results.tap | ./.ci/tapview | tee test-results.txt

      - name: Collect tapview output
        if: (success() || failure()) && github.event_name == 'pull_request'
        run: |
          echo 'TEST_RESULTS<<EOF' >> $GITHUB_ENV
          cat test-results.txt >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - uses: actions/github-script@v1
        if: (success() || failure()) && github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${{ env.TEST_RESULTS }}`
            })
