name: Check
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:

  check:
    name: Check rewrite function
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run check
        run: ansible-playbook -i hosts check.yaml

      - name: Generate test results
        if: success() || failure()
        run: |
          cat test-results.tap | ./.ci/tapview | tee test-results.txt
          echo "${{ github.event.number }}" > pr-number.txt

      - name: Upload test results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            test-results.txt
            pr-number.txt
